#grid_container {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-areas: 
        ". header_area ."
        ". main_area .";
}
p {
    font-size: 12px;
    margin-bottom: 75px;
}
h1 {
    font-size: 36px;
    margin-bottom: 0px;
}
div label {
    font-size: 14px;
}
header {
    grid-area: header_area;
    text-align: center;
}
main {
    grid-area: main_area;
}
body {
    background-color: #fafafa;
    font-family: 'Franklin Gothic Medium', sans-serif;
}
form {
    background-color: white;
    border: 2px solid #cccccc;
    padding: 36px;
}
.wcwhw select{
    width: 30pc;
    height: 2pc;
    margin: 10px 0px 24px;
    border: 2px solid #dbe0e5;
}
.name_input label {
    display: block;
}
.name_input input {
    width: 30pc;
    height: 2pc;
    margin: 10px 0px 24px;
    border: 2px solid #dbe0e5;
}
.email_input label {
    display: block;
}
.email_input input {
    width: 30pc;
    height: 2pc;
    margin: 10px 0px 24px;
    border: 2px solid #dbe0e5;
}
.message_id label {
    display: block;
}
.message_id textarea {
    width: 30pc;
    height: 8pc;
    margin: 10px 0px 0px;
    border: 2px solid #dbe0e5;
}
.button {
    margin: 12px 0px 0px;
}
.button input {
    width: 48px;
    height: 36px;
    text-align: center;
    border-radius: 5px;
    background: rgb(2, 112, 255);
    color: white;
    cursor: pointer;
}
.button input:hover {
    background: linear-gradient(to bottom, rgb(36, 152, 253), rgb(2, 112, 255));
}
/* Desktop breakpoint*/
@media screen and (min-width: 1280px) {
    #tablet,
    #mobile {
        display: none;
    }
}
/* Tablet breakpoint */
@media screen and (max-width: 1279px)
    and (min-width: 768px) {
        #desktop,
        #mobile {
            display: none;
        }
    }
/* Mobile breakpoint */
    @media screen and (max-width: 767px) {
        #desktop,
        #tablet {
            display: none;
        }
    }
