.card {
    margin: 24px;
    border: 2px solid pink;
    padding: 16px;
    box-shadow: 3px 3px 7px;
}

#header
{
    margin: 24px solid pink;
    background-color: palevioletred;
}

body {
    margin: 0px;
}

#image_container {
    float: right;
}

#footer {
    background-color: palevioletred;
}